data_collection/data
data_collection/data/*
data_collection/data/sentdata
data_collection/data/sentdata/*
data_collection/swift_cred.py
processing/swift_cred.py
data_collection/owm_cred.py
data_collection/notes.txt
*.pyc
*_cred.py
nohup.*
bootstrap.txt
processing/mysql_cred.py
processing/to_parse
processing/to_parse/*
nitin/
nitin/*
